In [85]:
import pandas as pd
from surprise import Reader, SVD, Dataset, accuracy
from surprise.model_selection import GridSearchCV, train_test_split, cross_validate

In [84]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 11.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-linux_x86_64.whl size=3193645 sha256=19d8502b68bbe05ddff6fda125e6b13908b392e2c20064269b5f6e74d8b2ce16
  Stored in directory: /root/.cache/pip/wheels/c6/3a/46/9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [13]:
df_ratings=pd.read_csv("/content/ratings.csv")

In [14]:
df_movies=pd.read_csv("/content/movies.csv")

In [15]:
df_ratings.head()

   userId  movieId  rating     timestamp
0       1        2     3.5  1.112486e+09
1       1       29     3.5  1.112485e+09
2       1       32     3.5  1.112485e+09
3       1       47     3.5  1.112485e+09
4       1       50     3.5  1.112485e+09

In [16]:
df_tags=pd.read_csv("/content/tags.csv")

In [17]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
df_tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [19]:
df = df_movies.merge(df_ratings, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,9.449194e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,8.582755e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.339819e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,9.434979e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,1.230859e+09

In [20]:
df.shape
df["title"].value_counts()
comment_counts = pd.DataFrame(df["title"].value_counts())
comment_counts.head()

                                  title
Pulp Fiction (1994)                3881
Forrest Gump (1994)                3862
Silence of the Lambs, The (1991)   3596
Shawshank Redemption, The (1994)   3583
Jurassic Park (1993)               3452

In [38]:
rare_movies = comment_counts[comment_counts["title"] <= 1000].index

common_movies = df[~df["title"].isin(rare_movies)]

common_movies

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,9.449194e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,8.582755e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.339819e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,9.434979e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,1.230859e+09
...,...,...,...,...,...,...
1106729,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,7891.0,4.5,1.370322e+09
1106730,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,7892.0,4.0,1.321131e+09
1106731,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,7899.0,4.0,1.328410e+09
1106732,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,7904.0,2.5,1.416126e+09
1168865,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN,NaN

In [53]:
common_movies["title"].nunique()
common_movies[common_movies["userId"]==225]

,movieId,title,genres,userId,rating,timestamp
9942,11,"American President, The (1995)",Comedy|Drama|Romance,225.0,5.0,838831682.0
14375,19,Ace Ventura: When Nature Calls (1995),Comedy,225.0,1.0,838831543.0
23777,34,Babe (1995),Children|Drama,225.0,3.0,838831507.0
27000,39,Clueless (1995),Comedy|Romance,225.0,3.0,838831573.0
30508,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,225.0,3.0,838831507.0
33752,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,225.0,3.0,838831573.0
48529,110,Braveheart (1995),Action|Drama|War,225.0,1.0,838831479.0
58113,150,Apollo 13 (1995),Adventure|Drama|IMAX,225.0,5.0,838831339.0
65807,161,Crimson Tide (1995),Drama|Thriller|War,225.0,5.0,838831416.0
68561,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,225.0,5.0,838831369.0
75163,185,"Net, The (1995)",Action|Crime|Thriller,225.0,5.0,838831450.0
81412,208,Waterworld (1995),Action|Adventure|Sci-Fi,225.0,1.0,838831450.0
88365,231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy,225.0,2.0,838831391.0
107820,288,Natural Born Killers (1994),Action|Crime|Thriller,225.0,1.0,838831480.0
109641,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller,225.0,4.0,838831416.0
112824,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,225.0,2.0,838831339.0
116809,300,Quiz Show (1994),Drama,225.0,3.0,838831507.0
123788,318,"Shawshank Redemption, The (1994)",Crime|Drama,225.0,5.0,838831416.0
132532,339,While You Were Sleeping (1995),Comedy|Romance,225.0,5.0,838831450.0
134765,344,Ace Ventura: Pet Detective (1994),Comedy,225.0,2.0,838831369.0
138199,349,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,225.0,4.0,838831369.0
142823,356,Forrest Gump (1994),Comedy|Drama|Romance|War,225.0,5.0,838831479.0
146613,357,Four Weddings and a Funeral (1994),Comedy|Romance,225.0,1.0,838831652.0
149288,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,225.0,3.0,838831507.0
151773,367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,225.0,1.0,838831543.0
157560,377,Speed (1994),Action|Romance|Thriller,225.0,5.0,838831573.0
160453,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,225.0,5.0,838831339.0
164571,410,Addams Family Values (1993),Children|Comedy|Fantasy,225.0,2.0,838831479.0
170457,434,Cliffhanger (1993),Action|Adventure|Thriller,225.0,4.0,838831416.0
172893,440,Dave (1993),Comedy|Romance,225.0,5.0,838831620.0
176577,454,"Firm, The (1993)",Drama|Thriller,225.0,3.0,838831507.0
178590,457,"Fugitive, The (1993)",Thriller,225.0,5.0,838831416.0
186033,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,225.0,5.0,838831479.0
193489,500,Mrs. Doubtfire (1993),Comedy|Drama,225.0,5.0,838831588.0
201768,527,Schindler's List (1993),Drama|War,225.0,3.0,838831620.0
207365,539,Sleepless in Seattle (1993),Comedy|Drama|Romance,225.0,5.0,838831652.0
218494,586,Home Alone (1990),Children|Comedy,225.0,4.0,838831652.0
220141,587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller,225.0,5.0,838831620.0
221851,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,225.0,3.0,838831369.0
224268,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,225.0,3.0,838831543.0
227277,590,Dances with Wolves (1990),Adventure|Drama|Western,225.0,2.0,838831339.0
229829,592,Batman (1989),Action|Crime|Thriller,225.0,2.0,838831338.0
232521,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,225.0,4.0,838831391.0
237123,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,225.0,2.0,838831391.0
239876,597,Pretty Woman (1990),Comedy|Romance,225.0,5.0,838831652.0

In [23]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

user_movie_df.shape

(7779, 201)

In [24]:
user_movie_df.head(10)

title,2001: A Space Odyssey (1968),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Addams Family Values (1993),Airplane! (1980),Aladdin (1992),Alien (1979),Aliens (1986),Almost Famous (2000),...,Twister (1996),"Usual Suspects, The (1995)",Waterworld (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)",X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,3.5,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,...,NaN,3.5,NaN,3.5,NaN,NaN,NaN,NaN,3.5,NaN
2.0,5.0,NaN,NaN,NaN,NaN,2.0,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,5.0,3.0,NaN,NaN,NaN,5.0,NaN,5.0,4.0,NaN,...,NaN,5.0,NaN,3.0,4.0,NaN,NaN,5.0,4.0,NaN
4.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
7.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,3.0,3.0,4.0,NaN,NaN,4.0
8.0,NaN,NaN,3.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

Item Based Recommendation

In [67]:
random_user = int(pd.Series(user_movie_df.index).sample(1, random_state=50).values)
random_user
random_user_df = user_movie_df[user_movie_df.index == random_user]
random_user_df

title,2001: A Space Odyssey (1968),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Addams Family Values (1993),Airplane! (1980),Aladdin (1992),Alien (1979),Aliens (1986),Almost Famous (2000),...,Twister (1996),"Usual Suspects, The (1995)",Waterworld (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)",X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
5675.0,NaN,NaN,3.5,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,3.0,5.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.5

In [73]:
recently_5rated_movie_id = df_ratings[(df_ratings['userId']==random_user)&(df_ratings['rating']==5)].sort_values(by='timestamp', ascending=False)['movieId'].values[0]
recently_5rated_movie_id

50

In [75]:
recently_5rated_movie_title=common_movies[common_movies['movieId']==recently_5rated_movie_id]['title'].values[0]
recently_5rated_movie_title

'Usual Suspects, The (1995)'

In [76]:
user_movie_df_filtered = user_movie_df[recently_5rated_movie_title]
user_movie_df_filtered

userId
1.0       3.5
2.0       NaN
3.0       5.0
4.0       NaN
5.0       NaN
         ...
7904.0    3.5
7905.0    NaN
7906.0    NaN
7907.0    NaN
7908.0    NaN
Name: Usual Suspects, The (1995), Length: 7779, dtype: float64

Finding correlation between selected movie and remaining movies using filtered df and sorting them

In [77]:
user_movie_df.corrwith(user_movie_df_filtered).sort_values(ascending=False)

title
Usual Suspects, The (1995)        1.000000
L.A. Confidential (1997)          0.390854
American History X (1998)         0.319381
Seven (a.k.a. Se7en) (1995)       0.313349
Memento (2000)                    0.308962
                                    ...
Mr. Holland's Opus (1995)         0.058546
Star Trek: Generations (1994)     0.054054
American President, The (1995)    0.044716
Titanic (1997)                    0.021758
Net, The (1995)                   0.015023
Length: 201, dtype: float64

selecting top 5 movies similar to the filtered movie

In [78]:
user_movie_df.corrwith(user_movie_df_filtered).sort_values(ascending=False)[1:6]

title
L.A. Confidential (1997)       0.390854
American History X (1998)      0.319381
Seven (a.k.a. Se7en) (1995)    0.313349
Memento (2000)                 0.308962
Gladiator (2000)               0.295285
dtype: float64

Taking a random sample of movie id's for model based recommendation

In [79]:
movie_ids = [541, 147, 1909, 59103] # ids of selected movies
movies = ["Blade Runner (1982)",
          "Basketball Diaries, The (1995)",
          "X-Files: Fight the Future, The (1998)",
          "Forbidden Kingdom, The (2008)"]

In [82]:
sample_df = df[df.movieId.isin(movie_ids)]
sample_df.head()

,movieId,title,genres,userId,rating,timestamp
57706,147,"Basketball Diaries, The (1995)",Drama,29.0,3.0,8.355634e+08
57707,147,"Basketball Diaries, The (1995)",Drama,61.0,4.0,1.197164e+09
57708,147,"Basketball Diaries, The (1995)",Drama,69.0,4.0,8.668167e+08
57709,147,"Basketball Diaries, The (1995)",Drama,101.0,4.0,8.363262e+08
57710,147,"Basketball Diaries, The (1995)",Drama,134.0,2.0,9.450658e+08

In [86]:
user_movie_df_1 = sample_df.pivot_table(index=["userId"],
                                      columns=["title"],
                                      values="rating")
user_movie_df_1

title,"Basketball Diaries, The (1995)",Blade Runner (1982),"Forbidden Kingdom, The (2008)","X-Files: Fight the Future, The (1998)"
userId,,,,
1.0,NaN,4.0,NaN,NaN
2.0,NaN,5.0,NaN,NaN
3.0,NaN,5.0,NaN,5.0
11.0,NaN,4.5,NaN,NaN
21.0,NaN,5.0,NaN,NaN
...,...,...,...,...
7880.0,NaN,5.0,NaN,NaN
7881.0,NaN,NaN,NaN,2.0
7882.0,NaN,4.5,NaN,NaN
7883.0,4.0,4.5,NaN,NaN
7899.0,NaN,3.5,NaN,3.5

In [87]:
reader = Reader(rating_scale=(1, 5))

In [88]:
data = Dataset.load_from_df(sample_df[['userId',
                                       'movieId',
                                       'rating']], reader)

In [89]:
trainset, testset = train_test_split(data, test_size=.25)

In [90]:
svd_model = SVD()

In [91]:
svd_model.fit(trainset)

# Test the model with the testing set using p and q values
predictions = svd_model.test(testset)

In [92]:
predictions

[Prediction(uid=140.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5444.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2024.0, iid=1909, r_ui=3.5, est=3.782680370484612, details={'was_impossible': False}),
 Prediction(uid=6306.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2406.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2225.0, iid=1909, r_ui=5.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=1166.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6127.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2033.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=630.0, iid=1909, r_ui=3.0, est=3.3370580697220613, details={'was_impossible': False}),
 Prediction(uid=1141.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4857.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4168.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1453.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2531.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7772.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1496.0, iid=59103, r_ui=4.0, est=3.550566319668892, details={'was_impossible': False}),
 Prediction(uid=2153.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7803.0, iid=147, r_ui=4.0, est=3.375274032352357, details={'was_impossible': False}),
 Prediction(uid=1571.0, iid=1909, r_ui=1.5, est=3.0843926673732995, details={'was_impossible': False}),
 Prediction(uid=7578.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=574.0, iid=1909, r_ui=2.0, est=3.1973828710374113, details={'was_impossible': False}),
 Prediction(uid=4641.0, iid=1909, r_ui=2.5, est=3.196133743612994, details={'was_impossible': False}),
 Prediction(uid=5929.0, iid=1909, r_ui=4.0, est=3.358691607011818, details={'was_impossible': False}),
 Prediction(uid=7188.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5870.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6057.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6873.0, iid=147, r_ui=4.0, est=3.729193392250708, details={'was_impossible': False}),
 Prediction(uid=5882.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5172.0, iid=541, r_ui=3.0, est=4.087093986121912, details={'was_impossible': False}),
 Prediction(uid=2837.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6926.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1326.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2068.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5084.0, iid=147, r_ui=3.0, est=3.79177592019639, details={'was_impossible': False}),
 Prediction(uid=1324.0, iid=541, r_ui=2.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3157.0, iid=541, r_ui=2.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1696.0, iid=541, r_ui=5.0, est=4.275241326950148, details={'was_impossible': False}),
 Prediction(uid=2584.0, iid=1909, r_ui=3.0, est=3.4022334875564977, details={'was_impossible': False}),
 Prediction(uid=5166.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=931.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4615.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2328.0, iid=1909, r_ui=1.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4721.0, iid=1909, r_ui=3.0, est=3.6546772710633975, details={'was_impossible': False}),
 Prediction(uid=6883.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=5360.0, iid=1909, r_ui=1.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4617.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=5322.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1198.0, iid=1909, r_ui=4.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=5365.0, iid=147, r_ui=4.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=3011.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2397.0, iid=1909, r_ui=4.0, est=3.278329045304947, details={'was_impossible': False}),
 Prediction(uid=733.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7836.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4010.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=600.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=475.0, iid=1909, r_ui=5.0, est=3.4543499019908457, details={'was_impossible': False}),
 Prediction(uid=7786.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3882.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=579.0, iid=147, r_ui=3.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=298.0, iid=147, r_ui=4.0, est=3.605623255557655, details={'was_impossible': False}),
 Prediction(uid=3718.0, iid=1909, r_ui=2.0, est=3.3261596872792887, details={'was_impossible': False}),
 Prediction(uid=1567.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=3358.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6160.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4311.0, iid=541, r_ui=1.0, est=3.9367944658909977, details={'was_impossible': False}),
 Prediction(uid=2772.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6317.0, iid=1909, r_ui=3.0, est=3.5879442478713552, details={'was_impossible': False}),
 Prediction(uid=6112.0, iid=1909, r_ui=3.0, est=3.329660962193303, details={'was_impossible': False}),
 Prediction(uid=7286.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3858.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4074.0, iid=1909, r_ui=1.0, est=3.555381976137716, details={'was_impossible': False}),
 Prediction(uid=5784.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=3025.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2311.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4403.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6387.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4627.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7563.0, iid=541, r_ui=4.0, est=4.190925649382937, details={'was_impossible': False}),
 Prediction(uid=1338.0, iid=541, r_ui=4.0, est=4.23819622158602, details={'was_impossible': False}),
 Prediction(uid=2029.0, iid=1909, r_ui=3.5, est=3.585894876717386, details={'was_impossible': False}),
 Prediction(uid=2965.0, iid=541, r_ui=5.0, est=4.236028021857461, details={'was_impossible': False}),
 Prediction(uid=2071.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=7802.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5615.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2360.0, iid=1909, r_ui=4.0, est=3.3773973201388063, details={'was_impossible': False}),
 Prediction(uid=812.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2930.0, iid=541, r_ui=2.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7699.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1065.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6210.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6540.0, iid=541, r_ui=4.0, est=4.190721048498567, details={'was_impossible': False}),
 Prediction(uid=5570.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1573.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3133.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6324.0, iid=147, r_ui=3.5, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=1885.0, iid=147, r_ui=3.5, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=3736.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3659.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=7697.0, iid=147, r_ui=4.5, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=4641.0, iid=541, r_ui=4.5, est=4.049572434583783, details={'was_impossible': False}),
 Prediction(uid=5658.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2088.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2071.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=455.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2239.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6117.0, iid=541, r_ui=4.5, est=4.3647014665872, details={'was_impossible': False}),
 Prediction(uid=6471.0, iid=1909, r_ui=2.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=806.0, iid=147, r_ui=4.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=2772.0, iid=1909, r_ui=3.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6172.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6737.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2398.0, iid=1909, r_ui=4.0, est=3.4848591905257646, details={'was_impossible': False}),
 Prediction(uid=2887.0, iid=1909, r_ui=3.0, est=2.861240226410645, details={'was_impossible': False}),
 Prediction(uid=5754.0, iid=541, r_ui=2.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2229.0, iid=147, r_ui=3.0, est=3.6529993371054386, details={'was_impossible': False}),
 Prediction(uid=1705.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=768.0, iid=541, r_ui=5.0, est=3.7882852653394155, details={'was_impossible': False}),
 Prediction(uid=4222.0, iid=541, r_ui=5.0, est=4.02516369357929, details={'was_impossible': False}),
 Prediction(uid=2757.0, iid=147, r_ui=5.0, est=3.653284706844666, details={'was_impossible': False}),
 Prediction(uid=995.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=229.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4244.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3629.0, iid=1909, r_ui=3.5, est=3.313576369164821, details={'was_impossible': False}),
 Prediction(uid=1095.0, iid=1909, r_ui=1.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=3488.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7505.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1154.0, iid=1909, r_ui=2.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=264.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=77.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2553.0, iid=1909, r_ui=3.0, est=3.584007373091581, details={'was_impossible': False}),
 Prediction(uid=58.0, iid=1909, r_ui=3.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6725.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7418.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3751.0, iid=147, r_ui=1.0, est=3.6402711367590714, details={'was_impossible': False}),
 Prediction(uid=3163.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=847.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=798.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3239.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5338.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4032.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4951.0, iid=541, r_ui=2.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=614.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7184.0, iid=1909, r_ui=4.0, est=3.352559759215843, details={'was_impossible': False}),
 Prediction(uid=650.0, iid=541, r_ui=3.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1715.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5000.0, iid=147, r_ui=4.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=5369.0, iid=1909, r_ui=5.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=7414.0, iid=541, r_ui=3.5, est=3.923780427472401, details={'was_impossible': False}),
 Prediction(uid=2994.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5017.0, iid=1909, r_ui=2.0, est=3.5631417296662917, details={'was_impossible': False}),
 Prediction(uid=5032.0, iid=147, r_ui=4.5, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=1207.0, iid=1909, r_ui=3.0, est=3.215124283592114, details={'was_impossible': False}),
 Prediction(uid=5773.0, iid=541, r_ui=4.5, est=4.036537859128226, details={'was_impossible': False}),
 Prediction(uid=982.0, iid=1909, r_ui=2.5, est=3.342190924713654, details={'was_impossible': False}),
 Prediction(uid=2036.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=776.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=3898.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6469.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4498.0, iid=1909, r_ui=3.5, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=5647.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=2206.0, iid=541, r_ui=5.0, est=4.291710333909734, details={'was_impossible': False}),
 Prediction(uid=4498.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=7858.0, iid=1909, r_ui=3.5, est=3.6073201699934185, details={'was_impossible': False}),
 Prediction(uid=347.0, iid=1909, r_ui=3.0, est=3.431731470344663, details={'was_impossible': False}),
 Prediction(uid=5621.0, iid=1909, r_ui=4.0, est=3.5292371332947123, details={'was_impossible': False}),
 Prediction(uid=5060.0, iid=541, r_ui=3.0, est=3.7207612193269184, details={'was_impossible': False}),
 Prediction(uid=7058.0, iid=1909, r_ui=3.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=1835.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=812.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=2950.0, iid=541, r_ui=3.0, est=3.857645344061334, details={'was_impossible': False}),
 Prediction(uid=408.0, iid=147, r_ui=3.5, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=2518.0, iid=1909, r_ui=4.0, est=3.501235228179798, details={'was_impossible': False}),
 Prediction(uid=1944.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5792.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1470.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=5059.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1609.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1703.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=157.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=943.0, iid=147, r_ui=4.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=7390.0, iid=541, r_ui=4.5, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4474.0, iid=541, r_ui=5.0, est=3.8849332609587597, details={'was_impossible': False}),
 Prediction(uid=331.0, iid=147, r_ui=3.0, est=3.580084268864247, details={'was_impossible': False}),
 Prediction(uid=5563.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4048.0, iid=541, r_ui=5.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=1942.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6152.0, iid=541, r_ui=3.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=6976.0, iid=1909, r_ui=3.0, est=3.1223893016284934, details={'was_impossible': False}),
 Prediction(uid=1061.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=4988.0, iid=1909, r_ui=4.0, est=3.360200214871157, details={'was_impossible': False}),
 Prediction(uid=6433.0, iid=541, r_ui=4.0, est=4.140836967282436, details={'was_impossible': False}),
 Prediction(uid=4969.0, iid=1909, r_ui=4.0, est=3.4137100558103084, details={'was_impossible': False}),
 Prediction(uid=5225.0, iid=147, r_ui=2.0, est=3.619901210509581, details={'was_impossible': False}),
 Prediction(uid=2947.0, iid=541, r_ui=3.0, est=4.467055661506677, details={'was_impossible': False}),

In [93]:
svd_model.predict(uid=1.0, iid=541, verbose=True) # the estimated rating value by the model for the user with the userId=1

sample_df[sample_df["userId"] == 1.0]

user: 1.0        item: 541        r_ui = None   est = 3.93   {'was_impossible': False}

,movieId,title,genres,userId,rating,timestamp
209266,541,Blade Runner (1982),Action|Sci-Fi|Thriller,1.0,4.0,1.112485e+09

In [94]:
accuracy.rmse(predictions)

RMSE: 0.9225

0.9224526357928591